:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: #ffffffde;
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
._grand-container_1inkk_1 {
  background-color: #f5f5f5;
  min-height: 100vh;
  overflow-x: auto;
  overflow-y: auto;
  box-sizing: border-box;
  width: 100vw;
}
._parent-container_1inkk_17 {
  position: relative;
  box-sizing: border-box;
  width: 1400px;
  margin: 4px auto 0;
  background-color: #1a5376;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 10px;
}
._top-container_1inkk_51 {
  width: 1300px;
  height: 70px;
  background-color: #eaeaea;
  margin: 10px auto 0;
  box-shadow: inset 0 0.3rem 0.9rem #ffffff4d, inset 0 -0.1rem 0.3rem #000000b3,
    inset 0 -0.4rem 0.9rem #ffffff80, 0 3rem 3rem #0000004d,
    0 1rem 1rem -0.6rem #000c;
  border-radius: 10px;
}
._middle-container_1inkk_75 {
  display: flex;
  flex-direction: row;
  width: 1400px;
  min-height: 835px;
}
._button-container_1inkk_87 {
  width: 1300px;
  height: 70px;
  background-color: #eaeaea;
  margin: 0 auto;
  box-shadow: inset 0 0.3rem 0.9rem #ffffff4d, inset 0 -0.1rem 0.3rem #000000b3,
    inset 0 -0.4rem 0.9rem #ffffff80, 0 3rem 3rem #0000004d,
    0 1rem 1rem -0.6rem #000c;
  border-radius: 10px;
}
._middle-panel-container_1inkk_115 {
  width: 1300px;
  background-color: #f7f5f5;
  margin: 0 auto;
  box-shadow: inset 0 0.3rem 0.9rem #ffffff4d, inset 0 -0.1rem 0.3rem #000000b3,
    inset 0 -0.4rem 0.9rem #ffffff80, 0 3rem 3rem #0000004d,
    0 1rem 1rem -0.6rem #000c;
  border-radius: 10px;
}
._bottom-container_1inkk_145 {
  height: 40px;
  width: 1400px;
  background-color: #1a5376;
  color: #fff;
  box-sizing: border-box;
  text-align: center;
  padding-top: 10px;
}
._instructionBtn_1inkk_169 {
  position: absolute;
  top: 216px;
  right: 1302px;
  margin: 12px;
  height: 40px;
  width: 120px;
  border-radius: 10px;
  background: #131313;
  cursor: pointer;
  border: none;
  font-size: 20px;
  font-weight: 500;
  rotate: 90deg;
  text-align: center;
}
._instructionBtn_1inkk_169:hover {
  box-shadow: inset 5px 5px 10px #222, inset -5px -5px 10px #444;
  color: #d6d6d6;
  background-color: #222;
}
._top-container_16fg4_1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
._top-container_16fg4_1 h2 {
  color: #313131;
  font-size: 28px;
  text-align: "center";
  margin: 10px;
}
._instructions_1sj51_1 {
  color: #3b3b3b;
  width: 600px;
  background-color: #fff;
  padding: 5px 20px 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px #0000001a;
}
._insHeading_1sj51_21 {
  font-size: 20px;
  font-weight: 500;
  color: #111010;
  background-color: #f5f5f5;
  padding: 8px;
  border-radius: 5px;
  text-align: center;
}
._steps_1sj51_41 {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
._steps_1sj51_41 b {
  font-size: 18px;
  font-weight: 500;
  color: #0c0c0c;
}
span {
  font-size: 18px;
  font-weight: 600;
  color: #943f3f;
}
._stepText_1sj51_77 {
  margin-top: -20px;
  font-size: 18px;
  font-weight: 450;
  color: #0c0c0c;
}
._instructionBtn_p0d2b_3 {
  margin: 12px;
  height: 50px;
  width: 120px;
  border-radius: 10px;
  background: #131313;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  font-size: 20px;
  font-weight: 500;
  color: #a1a1a1;
  transition: 0.5s;
}
._instructionBtn_p0d2b_3:hover {
  box-shadow: inset 5px 5px 10px #222, inset -5px -5px 10px #444;
  color: #d6d6d6;
  transition: 0.5s;
}
._middlePanelWrapper_p0d2b_47 {
  position: relative;
  width: 100%;
}
._contentArea_p0d2b_59 {
  width: 100%;
}
._instructionPanel_p0d2b_69 {
  position: absolute;
  top: 188px;
  left: 25%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
._fadeIn_p0d2b_87 {
  animation: _fadeInAnimation_p0d2b_1 0.3s ease-in-out forwards;
}
._fadeOut_p0d2b_95 {
  animation: _fadeOutAnimation_p0d2b_1 0.3s ease-in-out forwards;
}
@keyframes _fadeInAnimation_p0d2b_1 {
  0% {
    opacity: 0;
    transform: translate(-50%, -60%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
@keyframes _fadeOutAnimation_p0d2b_1 {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  to {
    opacity: 0;
    transform: translate(-50%, -60%);
  }
}
._ecgContainer_u62u6_1 {
  margin: 0 auto;
  padding: 20px 50px;
  border-radius: 12px;
  line-height: 1.6;
  font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
}
._subHeading_u62u6_33 {
  font-size: 18px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #000;
}
._paragraph_u62u6_49 {
  margin-bottom: 12px;
  color: #000;
  font-size: 16px;
}
._list_u62u6_61 {
  margin: 10px 0 20px 20px;
  padding-left: 20px;
  color: #000;
}
._list_u62u6_61 li {
  margin-bottom: 6px;
}
._ecgImage_u62u6_79 {
  width: 600px;
  height: 400px;
  border-radius: 12px;
  margin: 0 auto 0 8%;
  mix-blend-mode: darken;
}
._ecgImageContainer_u62u6_95 {
  display: flex;
  justify-content: center;
  align-items: center;
}
._ecgContainer_1vx8t_1 {
  margin: 0 auto;
  padding: 20px 50px;
  border-radius: 12px;
  line-height: 1.6;
  font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
}
._subHeading_1vx8t_33 {
  font-size: 18px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #000;
}
._paragraph_1vx8t_49 {
  margin-bottom: 12px;
  color: #000;
  font-size: 16px;
}
._list_1vx8t_61 {
  margin: 10px 0 20px 20px;
  padding-left: 20px;
  color: #000;
}
._list_1vx8t_61 li {
  margin-bottom: 6px;
}
._ecgImage_1vx8t_79 {
  width: auto;
  height: 400px;
  border-radius: 12px;
  margin: 0 auto 0 10%;
  mix-blend-mode: darken;
}
._ecgContainer_170hc_1 {
  margin: 0 auto;
  padding: 20px 50px;
  border-radius: 12px;
  line-height: 1.6;
  font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
}
._subHeading_170hc_17 {
  font-size: 18px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #000;
}
._paragraph_170hc_25 {
  margin-bottom: 12px;
  color: #000;
  font-size: 16px;
}
._list_170hc_31 {
  margin: 10px 0 20px 20px;
  padding-left: 20px;
  color: #000;
}
._list_170hc_31 li {
  margin-bottom: 6px;
}
._ecgImage_170hc_40 {
  width: 700px;
  height: auto;
  border-radius: 12px;
  margin: 0 auto 0 10%;
  mix-blend-mode: darken;
}
._button-panel-container_1rybh_3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -10px;
}
._button-panel-title_1rybh_15 {
  font-size: 25px;
  font-weight: 500;
  color: #000;
}
button {
  margin: 12px;
  height: 50px;
  width: 120px;
  border-radius: 10px;
  background: #1a5376;
  justify-content: center;
  align-items: center;
  box-shadow: inset 5px 5px 10px #176eb6;
  cursor: pointer;
  border: none;
  font-size: 20px;
  font-weight: 500;
  color: #a1a1a1;
  transition: 0.5s;
}
button:hover {
  box-shadow: inset 5px 5px 10px #222, inset -5px -5px 10px #444;
  color: #d6d6d6;
  transition: 0.5s;
}
button:disabled {
  background: #083a57;
  color: #5a5959;
  cursor: not-allowed;
  box-shadow: none;
  cursor: none;
}
button:disabled:hover {
  box-shadow: none;
  color: #5a5959;
}
._previous_1rybh_101 {
  margin-left: 100px;
}
._next_1rybh_107 {
  margin-right: 100px;
}
